@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color:$dark;
  color:$white;
  font-family: 'Edu VIC WA NT Beginner', cursive;

}


h2{
  a{
    text-decoration: none;
    color:$white;
  }
}

