.container {
  margin: 0 auto;
  max-width: 1200px;
}
.footer{
  margin-top: 20px;
  padding: 20px;
  border-top:2px solid #ffda70 ;
span{
  font-size: 24px;
  color:#ffda70;
}
}
h1,h2{
  color: #ffda70;
}