@import "src/styles/variables";

.add_photo {

  .text {

  }

  textarea {
    margin-bottom: 15px;
    width: 100%;
    height: 100px;
    margin-top: 15px;
    background-color: transparent;
    resize: none;
    overflow: auto;
    color: $white;
    font-size: 20px;
    outline: none;
    border:  1px solid $white;


  }


}

.loading {
  span {
    cursor: pointer;
  }
}